@model WebApplication1.Models.DocumentReadyDataForNonDefaultLocation

<style>
  #tableKeyWords {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
  }

  #tableKeyWords td, #tableKeyWords th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }

  #tableKeyWords tr:nth-child(even) {
    background-color: #f2f2f2 !important;
  }

  #tableKeyWords tr:nth-child(odd) {
      background-color: #ffffcc !important;
    }

  #tableKeyWords th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #4CAF50 !important;
    color: white !important;
  }
</style>

<div style="margin: 20px !important;">

  @{
      string idKeyWordNote;
  }

  <table id="tableKeyWords" style="margin-bottom: 20px;">
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th>Key phrase</th>
      <th>Note</th>
      <th></th>
    </tr>

    @foreach (WebApplication1.Models.KeyWord keyWord in (List<WebApplication1.Models.KeyWord>)ViewBag.ListWithKeyWords)
    {
      idKeyWordNote = string.Format("keyWordNote{0}", keyWord.Id.ToString());

      <tr>
        <td>@keyWord.Id</td>
        <td>@keyWord.Created</td>
        <td>@keyWord.Phrase</td>
        <td id='@idKeyWordNote'>@keyWord.Note</td>
        <td><a href="javascript: window.jonas.openModalToEditKeyWord('@keyWord.Id', '@keyWord.Created', '@keyWord.Phrase')">Edit</a></td>
      </tr>
    }

  </table>

  <a href="javascript: window.jonas.openModalToAddKeyWord()">&nbsp;Add key word</a>

  <div id="dialogKeyWord" style="display: none; background-color: #99ff99;">
    <table style="font-family: 'Times New Roman' !important; font-size: large !important; font-weight: bold !important; margin-top: 25px !important;">
      <tr>
        <td style="text-align: right !important;">Id&nbsp;&nbsp;</td>
        <td><input id="inputKeyWordId" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" readonly="readonly" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Created&nbsp;&nbsp;</td>
        <td><input id="inputKeyWordCreated" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" readonly="readonly" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Key phrase&nbsp;&nbsp;</td>
        <td><input id="inputKeyWordPhrase" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Note&nbsp;&nbsp;</td>
        <td><input id="inputKeyWordNote" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
    </table>
    <button id="btnSaveKeyWord" class="btnDefaultCss" disabled="disabled" style="margin-left: -2px !important;" onclick="window.jonas.saveKeyWord($('#inputKeyWordId').val(), $('#inputKeyWordCreated').val(), $('#inputKeyWordPhrase').val(), $('#inputKeyWordNote').val())">Save</button>
    <button id="btnCancelKeyWord" class="btnDefaultCss" disabled="disabled" style="margin-left: 10px !important;" onclick="window.jonas.cancelKeyWord()">Cancel</button>
  </div>
</div>

<script>
  $(document).ready(function () {
    window.jonas.checkIconAndSetTitle('@Model.Icon', '@Model.Title');
    window.jonas.setTabNames('@Model.TabNames[0]', '@Model.TabNames[1]', '@Model.TabNames[2]', '@Model.TabNames[3]', '@Model.TabNames[4]', '@Model.TabNames[5]', '@Model.TabNames[6]', '@Model.TabNames[7]', '@Model.TabNames[8]', '@Model.TabNames[9]');
    window.jonas.handlePreviousCurrentNextResource(@Model.PreviousResource, @Model.CurrentResource, @Model.NextResource);
    window.jonas.setTitleTextInBrowser(@Model.Page, @Model.Menu, @Model.Sub1, @Model.Sub2, @Model.Tab, '@Model.CshtmlFile');
    window.jonas.updateCssDisplayForContentDivs("nonDefaultLocation");
  });
</script>
