@model WebApplication1.Models.DocumentReadyDataForNonDefaultLocation

<div style="margin: 20px !important;">
  @if (!ViewBag.TodaysDayIsInFile && (ViewBag.ListWithDayDateDiaryBytesInDiary != null))
  {
    <div id="divAddNewWorkDay" style="margin-left: 1px;"><a class="aBlue" href="javascript: window.jonas.addNewWorkDay('@ViewBag.WorkFolder')">Add new day</a></div>
  }

  @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
  {
    <div id="warningMessageDayDateDiaryBytesInDiary" style="font-family: Arial !important; color: red !important; margin-left: 1px !important; margin-top: 10px !important; margin-bottom: 10px !important;">@ViewBag.ErrorMessage</div>
  }
  else
  {
    <div id="warningMessageDayDateDiaryBytesInDiary" style="font-family: Arial !important; color: red !important; margin-left: 1px !important; margin-top: 10px !important; margin-bottom: 10px !important; display: none !important;"></div>
  }

  @if (ViewBag.ListWithDayDateDiaryBytesInDiary != null)
  {
    string fileNameFullPath, tdBytesInDiary;

    <table id="tableDayDateDiaryBytesInDiary" class="defaultTableStyle" style="margin-top: 10px !important;">
      @{
        string title = "The folder is: " + ((string)ViewBag.WorkFolder).Replace("##", "\\") + "\\Diary";
      }
      <tr id="headerRowTableDayDateDiaryBytesInDiary">
        <th title="Dag">Dag</th>
        <th title="Datum">Datum</th>
        <th title="@title">Dagbok</th>
        <th title="Bytes i dagboksfilen">Bytes</th>
      </tr>

      @foreach (WebApplication1.Models.DayDateDiaryBytesInDiary dayDateDiaryBytesInDiary in (List<WebApplication1.Models.DayDateDiaryBytesInDiary>)ViewBag.ListWithDayDateDiaryBytesInDiary)
      {

        tdBytesInDiary = "tdBytesInDiary" + dayDateDiaryBytesInDiary.Day.ToString();
        fileNameFullPath = ViewBag.WorkFolder + "##Diary##" + dayDateDiaryBytesInDiary.Diary;

        <tr>
          <td>@dayDateDiaryBytesInDiary.Day</td>
          <td>@dayDateDiaryBytesInDiary.Date</td>

          @if (dayDateDiaryBytesInDiary.BytesInDiary > 0)
          {
            <td><a class="aGreen" href="javascript: window.jonas.openModalToEditDiaryDay('@fileNameFullPath', '@tdBytesInDiary')">@dayDateDiaryBytesInDiary.Diary</a></td>
          }
          else
          {
            <td>@dayDateDiaryBytesInDiary.Diary</td>
          }

          <td id="@tdBytesInDiary">@dayDateDiaryBytesInDiary.BytesInDiary</td>
        </tr>
      }
    </table>
  }
</div>

<script>
  $(document).ready(function () {
    window.jonas.checkIconAndSetTitle('@Model.Icon', '@Model.Title');
    window.jonas.setTabNames('@Model.TabNames[0]', '@Model.TabNames[1]', '@Model.TabNames[2]', '@Model.TabNames[3]', '@Model.TabNames[4]', '@Model.TabNames[5]', '@Model.TabNames[6]', '@Model.TabNames[7]', '@Model.TabNames[8]', '@Model.TabNames[9]');
    window.jonas.handlePreviousCurrentNextResource(@Model.PreviousResource, @Model.CurrentResource, @Model.NextResource);
    window.jonas.setTitleTextInBrowser(@Model.Page, @Model.Menu, @Model.Sub1, @Model.Sub2, @Model.Tab, '@Model.CshtmlFile');
    window.jonas.updateCssDisplayForContentDivs("nonDefaultLocation");
  });
</script>
