@model WebApplication1.Models.Location

@{
  Layout = string.Format("~/Views/Main/_Layout{0}.cshtml", Model.Page.ToString());
}

<div class="span12">
  <div class="ui-corner-all">
    <div class="row-fluid page-heading">
      <div class="row-fluid">
        <div class="pull-left">
          <h3>
            <i id="iIcon" class="fas fa-anchor"></i>
            <span id="spanTitle" class="object-title">Title</span>&nbsp;&nbsp;
            <span id="spanResourcePrevious" style="font-size: medium !important; font-weight: bold; position: relative; bottom: 3px; display: none;" onclick="window.jonas.renderPreviousResource()"></span>&nbsp;
            <span id="spanResourceCurrent" style="font-size: medium !important;  font-weight: bold; position: relative; bottom: 3px; display: none;"></span>&nbsp;
            <span id="spanResourceNext" style="font-size: medium !important; font-weight: bold; position: relative; bottom: 3px; display: none;" onclick="window.jonas.renderNextResource()"></span>
          </h3>
        </div>
        <div class="pull-right">
          <input id="inputCmd" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="margin-top: 10px !important; margin-right: 10px !important; width: 500px !important; font-family: 'Courier New' !important; font-weight: bold !important; font-size: small !important;" />
          <button id="btnCmd" style="margin-top: -1px; margin-right: 5px; font-weight: bold; font-size:large !important; font-family: 'Courier New'" onclick="window.jonas.executeCmd(null)">Run</button>
        </div>
      </div>
    </div>
    <div class='detail-content'>
      <div class="portlet box hijumpPortletBox tabbable">
        <div class="portlet-title">
          <div class="tabbable portlet-tabs">
            <ul class="nav nav-tabs detailPanelTabs">
              <li id="liTab1"><a id="aTab1" class="portletLink" href="javascript: window.jonas.tabChanged(1)">Tab1</a></li>
              <li id="liTab2"><a id="aTab2" class="portletLink" href="javascript: window.jonas.tabChanged(2)">Tab2</a></li>
              <li id="liTab3"><a id="aTab3" class="portletLink" href="javascript: window.jonas.tabChanged(3)">Tab3</a></li>
              <li id="liTab4"><a id="aTab4" class="portletLink" href="javascript: window.jonas.tabChanged(4)">Tab4</a></li>
              <li id="liTab5"><a id="aTab5" class="portletLink" href="javascript: window.jonas.tabChanged(5)">Tab5</a></li>
              <li id="liTab6"><a id="aTab6" class="portletLink" href="javascript: window.jonas.tabChanged(6)">Tab6</a></li>
              <li id="liTab7"><a id="aTab7" class="portletLink" href="javascript: window.jonas.tabChanged(7)">Tab7</a></li>
              <li id="liTab8"><a id="aTab8" class="portletLink" href="javascript: window.jonas.tabChanged(8)">Tab8</a></li>
              <li id="liTab9"><a id="aTab9" class="portletLink" href="javascript: window.jonas.tabChanged(9)">Tab9</a></li>
              <li id="liTab10"><a id="aTab10" class="portletLink" href="javascript: window.jonas.tabChanged(10)">Tab10</a></li>
            </ul>
          </div>
        </div>
        <div class="portlet-body">
          <div id="tabContent" class="tab-content" style="min-height: 1000px;">

            <!-- Default location -->
            <div id="contentDivDefaultLocation" style="display: none;">
              <button id="btnDefaultLocationSave" disabled="disabled" class="btnDefaultCss" onclick="window.jonas.handleTextAreaDefaultLocationSave()">Save</button>
              <button id="btnDefaultLocationCancel" disabled="disabled" class="btnDefaultCss" onclick="window.jonas.handleTextAreaDefaultLocationCancel()">Cancel</button>
              <br />
              <textarea id="textareaDefaultLocation" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" style="width: 100px; height: 25px;"></textarea>
            </div>

            <!-- Non default location-->
            <div id="contentDivNonDefaultLocation" style="display: none;"></div>

            <!-- Serach result resources -->
            <div id="contentDivSearchResultResources" style="display: none;"></div>

            <!-- Render of resource -->
            <div id="contentDivRenderOfResource" style="display: none;"></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialogResource" style="display: none; background-color: #99ff99 !important; font-family: 'Times New Roman' !important; font-size: large !important; font-weight: bold !important;">

  <table id="tableResources" style="margin-top: 15px !important;">
    <tr>
      <td style="text-align: right !important;" title="Id">Id&nbsp;&nbsp;</td>
      <td><input id="inputResourceId" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="number" style="width: 900px !important;" readonly="readonly" /></td>
    </tr>
    <tr>
      <td style="text-align: right !important;" title="Resources type">Type&nbsp;&nbsp;</td>
      <td><input id="inputResourceResourcesType" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 900px !important; margin-top: 7px !important;" readonly="readonly" /></td>
    </tr>
    <tr>
      <td style="text-align: right !important;" title="Created">Created&nbsp;&nbsp;</td>
      <td><input id="inputResourceCreated" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 900px !important; margin-top: 7px !important;" readonly="readonly" /></td>
    </tr>
    <tr>
      <td style="text-align: right !important;" title="Title">Title&nbsp;&nbsp;</td>
      <td><input id="inputResourceTitle" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 900px !important; margin-top: 7px !important;" /></td>
    </tr>
    <tr>
      <td style="text-align: right !important;" title="Note">Note&nbsp;&nbsp;</td>
      <td><input id="inputResourceNote" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 900px !important; margin-top: 7px !important;" /></td>
    </tr>
    <tr>
      <td style="text-align: right !important;" title="Previous resource">Previous&nbsp;&nbsp;</td>
      <td><input id="inputResourcePrevious" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="number" style="width: 900px !important; margin-top: 7px !important;" /></td>
    </tr>
    <tr>
      <td style="text-align: right !important;" title="Next resource">Next&nbsp;&nbsp;</td>
      <td><input id="inputResourceNext" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="number" style="width: 900px !important; margin-top: 7px !important;" /></td>
    </tr>
  </table>

  <div style="margin-top: 10px !important; margin-bottom: 10px !important;">Key words:</div>

  <div id="divKeyWords" style="font-weight: normal !important; font-size: medium !important;"></div>

  <button id="btnSaveResource" class="btnDefaultCss" disabled="disabled" style="margin-left: -2px !important; font-size: smaller !important;" onclick="window.jonas.saveResource()">Save</button>
  <button id="btnCancelResource" class="btnDefaultCss" disabled="disabled" style="margin-left: 10px !important; font-size: smaller !important;" onclick="window.jonas.cancelResource()">Cancel</button>
</div>

<script>
  $(document).ready(function () {
    window.jonas.newLocation(@Model.Page, @Model.Menu, @Model.Sub1, @Model.Sub2, @Model.Tab, false);
    window.jonas.maxResourceId = @ViewBag.MaxResourceId;
  });
</script>
