@model WebApplication1.Models.DocumentReadyDataForNonDefaultLocation

<div style="margin-left: 20px; margin-top: 10px; line-height: 20px;">
  <b>CarlJonasLtd</b><br />
  <a class="aBlue" target="_blank" href="http://www.CarlJonasLtd.com">CarlJonasLtd</a><br /><br />

  <b>CV page</b><br />
  <a class="aBlue" target="_blank" href="http://jonasleander.azurewebsites.net">Jonas Leander CV (live)</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/JonasCV/jonasleander.html">Jonas Leander CV (local)</a><br /><br />

  <b>AddressBook</b><br />
  <a class="aBlue" target="_blank" href="https://leander20190225060235.azurewebsites.net/AddressBook/LogIn">Azure</a><br />
  <a class="aBlue" target="_blank" href="http://www.nr2web1.com/AddressBook/LogIn">Local installation</a><br /><br />

  <b>Sudoku</b><br />
  <a class="aBlue" target="_blank" href="https://leander20190225060235.azurewebsites.net/Sudoku/Solve">Azure</a><br />
  <a class="aBlue" target="_blank" href="http://www.nr2web1.com/Sudoku/Solve">Local installation</a><br /><br />

  <b>Safaribooksonline</b><br />
  <a class="aBlue" target="_blank" href="https://www.safaribooksonline.com">Safaribooksonline (Email: jonas3481@outlook.com, password: The Jj-one)</a><br /><br />

  <b>Working applications</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/WorkingApplications.html">Working applications</a><br /><br />

  <b>Different things</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/localStorage.html">Localstorage</a><br />
  <a class="aBlue" target="_blank" href="http://plnkr.co/">Editor "plnkr" (got info about it on pluralsight)</a><br />
  <a class="aBlue" target="_blank" href="http://venkatcsharpinterview.blogspot.co.uk">Venkats hemsida</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/FindEmployment/AdByCategories.html">Find employment</a><br /><br />

  <b>Python</b><br />
  <a class="aBlue" target="_blank" href="~/Python/Python1.html">Python1</a><br /><br />

  <b>TypeScript</b><br />
  <a class="aBlue" target="_blank" href="~/TypeScript/TypeScript1.html">TypeScript1</a><br />
  <a class="aBlue" target="_blank" href="http://www.typescriptlang.org/play/">TypeScript playground</a><br />
  <a class="aBlue" target="_blank" href="https://www.typescriptlang.org/">TypeScript homepage</a><br />
  <a class="aBlue" target="_blank" href="https://code.visualstudio.com/docs/languages/typescript">TypeScript in Visual Studio Code</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/TypeScriptExamples/Example1.html">TypeScript examples</a><br /><br />

  <b>JavaScript</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/JavaScript/ArrayMethods.html">JavaScript Array methods</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/JavaScript/MethodsInWindowObjectPrototype.html">Methods in window.Object.prototype</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/JavaScript/FunctionsInWindowObject.html">Functions in window.Object</a><br /><br />

  <b>jQuery</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/jQuery/Main.html">jQuery functions/methods I have studyed (ordered alphabetically)</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/jQuery/MainInGroups.html">jQuery functions/methods I have studyed (by groups)</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/jQuery/jQueryCSSSelectors.html">jQuery CSS selectors</a><br /><br />

  <b>Underscore</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/underscore/Main.html">Underscore methods</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/underscore/MainInGroups.html">Underscore methods I have studyed (by groups)</a><br /><br />

  <b>Study a random number of functions/methods</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/jQuery/RandomNumberOfjQueryFunctions.html">jQuery functions</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/jQuery/RandomNumberOfjQueryMethods.html">jQuery methods</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/Lodash/RandomNumberOfLodashFunctions.html">Lodash functions</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/underscore/RandomNumberOfUnderscoreFunctions.html">Underscore functions</a><br /><br />

  <b>Analyze of JavaScript objects</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/AnalyzeJavaScriptObject/Main.html">AnalyzeJavaScriptObject</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/AnalyzejQueryObject/Main.html">AnalyzejQueryObject</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/AnalyzeAngularObject/Main.html">AnalyzeAngularObject</a><br /><br />

  <b>HTML</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/Html5Elements.html">Html5 elements</a><br />
  <a class="aBlue" target="_blank" href="http://www.w3schools.com/tags/default.asp">HTML Tags Ordered Alphabetically</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/Html/Main.html">Html elements (ordered alphabetically)</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/Html/HtmlElementsByGroup.html">Html elements (by groups)</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/Important global attributes.html">Important global attributes</a><br /><br />

  <b>CSS</b><br />
  <a class="aBlue" target="_blank" href="http://www.w3schools.com/cssref/css_selectors.asp">selectors and properties</a><br /><br />

  <b>Angular 2</b><br />
  <a class="aBlue" target="_blank" href="https://angular.io">Angular 2 homepage</a><br />
  <a class="aBlue" target="_blank" href="https://cli.angular.io">Angular-CLI homepage</a><br />
  <a class="aBlue" target="_blank" href="http://ngcookbook.herokuapp.com">Angular 2 Cookbook</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/Angular2Learn/File1.html">Angular 2 learn</a><br /><br />

  <b>Angular 1</b><br />
  <a class="aBlue" target="_blank" href="https://docs.angularjs.org/api">Angular API</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/AngularDirectives.html">Angular examples of directive</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnAngular/AngularGlobalAPI.html">Angular global API</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnAngular/LearnAngularVideos.html">Learn angular youtube video</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnAngular/LearnAngularLessons.html">Learn angular from Sam's teach yourself</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnAngular/Concepts/ListWithAnchorsToConcepts.html">Angular concepts</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/AngularFunctions.html">Angular functions som jag kommit i kontakt med</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnAngular/AngularDirectives.html">Angular directives som jag kommit i kontakt med</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnAngular/AngularDirectivesInGroups.html">Angular directives som jag kommit i kontakt med (uppdelade i grupper)</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/AngularParameters.html">Angular parameters som jag kommit i kontakt med</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/AngularBuiltInObjects.html">Inbyggda angular objects som jag kommit i kontakt med</a><br />
  <a class="aBlue" target="_blank" href="http://pluralsightAngularJSGetStarted/Code81.html">Angular github viewer</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/AngularExamples/Example1.html">Angular examples</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/BookProfessionalAngularJS/BookProfessionalAngularJS.html">Book Professional AngularJS</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/Angular1/Main.html">Book AngularJS, JavaScript, and jQuery All in One, Sams Teach Yourself</a><br /><br />

  <b>Bootstrap</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnBootstrap/LearnBootstrapVideos.html">Learn bootstrap youtube video</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnBootstrap/LearnBootstrapHours.html">Learn bootstrap from Sam's teach yourself</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnBootstrap/Concepts/ListWithAnchorsToConcepts.html">Bootstrap concepts</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/LearnBootstrap/BootstrapCategories.html">Bootstrap categories</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/ListenToRequests/BootstrapClasses.html">Bootstrap classes som jag kommit i kontakt med</a><br />
  <a class="aBlue" target="_blank" href="http://localhost/BootstrapExamples/Example1.html">Bootstrap examples</a><br /><br />

  <b>WCF</b><br />
  <a class="aBlue" target="_blank" href="http://WCF/WCF.html">WCF EmployeeWebClient</a><br /><br />

  <b>Lodash</b><br />
  <a class="aBlue" target="_blank" href="http://localhost/Lodash/Main.html">Lodash methods</a>
</div>

<script>
  $(document).ready(function () {
    window.jonas.checkIconAndSetTitle('@Model.Icon', '@Model.Title');
    window.jonas.setTabNames('@Model.TabNames[0]', '@Model.TabNames[1]', '@Model.TabNames[2]', '@Model.TabNames[3]', '@Model.TabNames[4]', '@Model.TabNames[5]', '@Model.TabNames[6]', '@Model.TabNames[7]', '@Model.TabNames[8]', '@Model.TabNames[9]');
    window.jonas.handlePreviousCurrentNextResource(@Model.PreviousResource, @Model.CurrentResource, @Model.NextResource);
    window.jonas.setTitleTextInBrowser(@Model.Page, @Model.Menu, @Model.Sub1, @Model.Sub2, @Model.Tab, '@Model.CshtmlFile');
    window.jonas.updateCssDisplayForContentDivs("nonDefaultLocation");
  });
</script>