@model WebApplication1.Models.ModelDataPageWithKeyWords

<style>
  #tableKeyWords {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
  }

  #tableKeyWords td, #tableKeyWords th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }

  #tableKeyWords tr:nth-child(even) {
    background-color: #f2f2f2 !important;
  }

  #tableKeyWords tr:hover {
    background-color: #ddd !important;
  }

  #tableKeyWords th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #4CAF50 !important;
    color: white !important;
  }
</style>

<div style="margin: 20px;">
  <table id="tableKeyWords" style="margin-bottom: 20px;">
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th>Key phrase</th>
      <th>Note</th>
      <th></th>
    </tr>

    @foreach (WebApplication1.Models.KeyWord keyWord in Model.listWithKeyWords)
    {
      <tr>
        <td>@keyWord.Id</td>
        <td>@keyWord.Created</td>
        <td>@keyWord.Phrase</td>
        <td id='@keyWord.IdString'>@keyWord.Note</td>
        <td><a href="javascript: window.jonas.openModalToEditKeyWord('@keyWord.Id', '@keyWord.Created', '@keyWord.Phrase')">Edit</a></td>
      </tr>
    }

  </table>

  <a href="javascript: window.jonas.openModal('divNewKeyWord', 'Add key word', 800, 250)">&nbsp;Add key word</a>

  <div id="divNewKeyWord" style="display: none; background-color: #99ff99;">
    <table style="font-family: 'Times New Roman' !important; font-size: large !important; font-weight: bold !important; margin-top: 25px !important;">
      <tr>
        <td style="text-align: right !important;">Key phrase&nbsp;&nbsp;</td>
        <td><input id="inputNewPhrase" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Note&nbsp;&nbsp;</td>
        <td><input id="inputNewNote" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
      <tr>
        <td><button style="font-family: Arial !important; font-size: medium !important; font-weight: bolder !important;" onclick="javascript: window.jonas.addKeyWord($('#inputNewPhrase').val(), $('#inputNewNote').val())">Save</button></td>
        <td></td>
      </tr>
    </table>
  </div>

  <div id="divEditKeyWord" style="display: none; background-color: #99ff99;">
    <table style="font-family: 'Times New Roman' !important; font-size: large !important; font-weight: bold !important; margin-top: 25px !important;">
      <tr>
        <td style="text-align: right !important;">Id&nbsp;&nbsp;</td>
        <td><input id="inputId" type="text" style="width: 650px !important; margin-top: 7px !important;" readonly="readonly" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Created&nbsp;&nbsp;</td>
        <td><input id="inputCreated" type="text" style="width: 650px !important; margin-top: 7px !important;" readonly="readonly" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Key phrase&nbsp;&nbsp;</td>
        <td><input id="inputPhrase" type="text" style="width: 650px !important; margin-top: 7px !important;" readonly="readonly" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Note&nbsp;&nbsp;</td>
        <td><input id="inputEditNote" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
      <tr>
        <td><button style="font-family: Arial !important; font-size: medium !important; font-weight: bolder !important;" onclick="javascript: window.jonas.editKeyWord($('#inputId').val(), $('#inputCreated').val(), $('#inputPhrase').val(), $('#inputEditNote').val())">Save</button></td>
        <td></td>
      </tr>
    </table>
  </div>

</div>

<div id="abcd"></div>

  <script>
  $(document).ready(function () {
    window.jonas.checkIconAndSetTitle('@Model.IconTitleTabs.Icon', '@Model.IconTitleTabs.Title');
    window.jonas.setTabNames('@Model.IconTitleTabs.Tab[0]', '@Model.IconTitleTabs.Tab[1]', '@Model.IconTitleTabs.Tab[2]', '@Model.IconTitleTabs.Tab[3]', '@Model.IconTitleTabs.Tab[4]', '@Model.IconTitleTabs.Tab[5]', '@Model.IconTitleTabs.Tab[6]', '@Model.IconTitleTabs.Tab[7]', '@Model.IconTitleTabs.Tab[8]', '@Model.IconTitleTabs.Tab[9]');
  });
  </script>
