@model List<WebApplication1.Models.ResourcePresentationInSearch>

<div style="margin-left: 15px !important; margin-top: 5px !important; margin-right: 15px !important;">

  <h2 style="font-family: Arial !important; font-weight: bold !important; display: inline-block !important;">Search term:&nbsp;</h2>
  <span style="font-family: 'Times New Roman' !important; font-size: larger !important; position: relative !important; top: -1px !important;">@ViewBag.SearchTerm</span>

  <table id="tableSearchResultResources" class="defaultTableStyle">
    <tr>
      <th style="width: 5% !important;">&nbsp;Id</th>
      <th style="width: 8% !important;">&nbsp;Type</th>
      <th style="width: 47% !important;">&nbsp;Title</th>
      <th style="width: 20% !important;">&nbsp;Key words</th>
      <th style="width: 15% !important;">&nbsp;Created</th>
      <th style="width: 5% !important;"></th>
    </tr>

    @foreach (WebApplication1.Models.ResourcePresentationInSearch r in Model)
    {
      <tr>
        <td style="width: 5% !important;" title="@r.Id"><a href="javascript: window.jonas.renderResource(@r.Id)">@r.Id</a></td>
        <td style="width: 8% !important;" title="@r.ResourcesType.ToString()">@WebApplication1.Controllers.MainController.ReturnResourceTypeAsString(r.ResourcesType)</td>
        <td style="width: 47% !important;" title="@r.Title">@r.Title</td>
        <td style="width: 20% !important;" title="@r.KeyWords">@r.KeyWords.Replace(",", ", ")</td>
        <td style="width: 15% !important;" title="@r.Created.ToString("yyyy-MM-dd HH:mm:ss")">@r.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
        <td style="width: 5% !important;"><a href="javascript: window.jonas.executeCmd('er @r.Id')">Edit</a></td>
      </tr>
      }

    </table>
</div>