@model List<WebApplication1.Models.ResourcePresentationInSearch>

<style>
  #tableSearchResultResources {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
  }

  #tableSearchResultResources td, #tableSearchResultResorces th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }

  #tableSearchResultResources tr:nth-child(even) {
    background-color: #f2f2f2 !important;
  }

  #tableSearchResultResources tr:hover {
    background-color: #ddd !important;
  }

  #tableSearchResultResources th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #4CAF50 !important;
    color: white !important;
  }
</style>

<div style="margin-left: 20px; margin-top: 5px; margin-right: 20px;">

  <h2 style="font-family: Arial; font-weight: bold; display: inline-block;">Search term:&nbsp;</h2>
  <span style="font-family: 'Times New Roman'; font-size: larger;">@ViewBag.SearchTerm</span>

  <table id="tableSearchResultResources">
    <tr>
      <th>&nbsp;Id</th>
      <th>&nbsp;Title</th>
      <th>&nbsp;Key words</th>
      <th>&nbsp;Created</th>
    </tr>

    @foreach (WebApplication1.Models.ResourcePresentationInSearch r in Model)
    {
      <tr>
        <td><a href="javascript: window.jonas.renderResource(@r.Id)">@r.Id</a></td>
        <td title='@r.Title'>@r.Title</td>
        <td title='@r.KeyWords'>@r.KeyWords</td>
        <td>@r.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
      </tr>
    }

  </table>
</div>