@model List<WebApplication1.Models.ResourcePresentationInSearch>

<style>
  #tableSearchResultResources {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
  }

  #tableSearchResultResources td, #tableSearchResultResorces th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }

  #tableSearchResultResources tr:nth-child(even) {
    background-color: #f2f2f2 !important;
  }

  #tableSearchResultResources tr:hover {
    background-color: #ddd !important;
  }

  #tableSearchResultResources th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #4CAF50 !important;
    color: white !important;
  }
</style>

<h2 style="margin-left: 15px;">Search term:&nbsp;@ViewBag.SearchTerm</h2>

<div style="margin: 10px;">

  <table id="tableSearchResultResources">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Key words</th>
      <th>Created</th>
    </tr>

    @foreach (WebApplication1.Models.ResourcePresentationInSearch r in Model)
    {
    <tr>
      <td><a href="javascript: window.jonas.renderResource(@r.Id)">@r.Id</a></td>
      <td>@r.Title</td>
      <td>@r.KeyWords</td>
      <td>@r.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
    </tr>
    }

  </table>
</div>