@model WebApplication1.Models.Resource

<div style="margin-left: 15px !important; margin-top: 5px !important; margin-right: 15px !important;">

  <h2 style="font-family: Arial !important; font-weight: bold !important; display: inline-block !important;">@Model.Title&nbsp;@Model.KeyWordPhrases</h2>

  @if (!string.IsNullOrEmpty(Model.Note))
  {
    <h2 style="font-family: Arial !important; font-weight: bold !important; display: inline-block !important;">&nbsp;&nbsp;&nbsp;Note:</h2>
    <span title="@Model.Note" style="font-family: 'Times New Roman' !important; font-weight: normal !important; font-size: medium !important; margin-left: 3px !important;">@Model.Note</span>
  }

  @if (Model.FileNamesShort != null)
  {
    <table id="tableFilesAssociatedToSelfResource" class="defaultTableStyle">
      <tr>
        <th style="width: 60% !important;">&nbsp;File name</th>
        <th style="width: 20% !important;">&nbsp;Created</th>
        <th style="width: 20% !important;">&nbsp;Updated</th>
      </tr>

      @for (int i = 0; i < Model.FileNamesShort.Count; i++)
      {
      <tr>
        @if (WebApplication1.Controllers.MainController.FileIsTextFile(Model.FileNamesShort[i]))
        {
          <td title="@Model.DirectoryNames[i]" style="width: 60% !important;"><a class="aGreen" href="javascript: window.jonas.editTextFile('@Model.DirectoryNames[i].Substring(8).Replace("\\", "\\\\")' + '\\' + '@Model.FileNamesShort[i].Replace("\\", "\\\\")')">@Model.FileNamesShort[i]</a></td>
        }
        else
        {
          <td title="@Model.DirectoryNames[i]" style="width: 60% !important;">@Model.FileNamesShort[i]</td>
        }
        <td style="width: 20% !important;" title="@Model.FileCreationDate[i]">@Model.FileCreationDate[i]</td>
        <td style="width: 20% !important;" title="@Model.FileUpdatedDate[i]">@Model.FileUpdatedDate[i]</td>
      </tr>
      }
    </table>
  }

  @if (Model.Href != null)
  {
    <div style="margin-top: 30px;">
      <h2 style="font-family: Arial !important; font-weight: bold !important;">Links:</h2>

      <ul id="ulLinksSelfResource">
        @for (int i = 0; i < Model.Href.Count; i++)
        {
          <li><a class="aBlue" href="@Model.Href[i]" target="_blank">@Model.HrefText[i]</a></li>
        }
      </ul>
    </div>
  }

  @if (Model.ListWithImages != null)
  {
    <div style="margin-top: 30px;">
      <h2 style="font-family: Arial !important; font-weight: bold !important;">Images:</h2>

      @for (int i = 0; i < Model.ListWithImages.Count; i++)
      {
        if (i > 0)
        {
          <hr style="margin-top: 20px !important; margin-bottom: 20px !important;" />
        }

        <div style="font-family: Arial !important; font-weight: bold !important; margin-bottom: 10px !important;">@Model.ListWithImages[i].Text</div>
        <img src="@Model.ListWithImages[i].Src" />
      }
    </div>
  }
</div>

<script>
  $(document).ready(function () {
    window.jonas.registerNewRenderOfSelfResource(@Model.PreviousResource, @Model.Id, @Model.NextResource);
  });
</script>