@model CAST.ViewModels.User.User_RestorePassword
@{
    ViewBag.Title = "CAST. New password.";
}

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            DialogInit("#notification-user-change-password-result", 400, null, null, null, false, false);
            DialogInit("#notification-user-change-password-failure", 400, null, null, null, false, false);
            $("a").hide();
        });
    </script>
    @if ((ViewBag.IsChangingSuccess != null)&&(ViewBag.IsChangingSuccess))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                DialogShow("#notification-user-change-password-result");
            });
        </script>
    }

    @if (ViewBag.ChangePasswordFailure != null && ViewBag.ChangePasswordFailure)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                DialogShow("#notification-user-change-password-failure");
            });
        </script>
    }
}

@using (Html.BeginForm("NewPassword", "User", FormMethod.Post))
{
    
    <table class="table table-bordered table-user-detail-info">
        <thead>
            <th colspan="2">New Password</th>
        </thead>
        <tr>
            <td class="field-name">
                @Html.LabelFor(model => model.Password):
                
            </td>
            <td class="field-value">
                @Html.PasswordFor(model => model.Password, new { @class = "input",@maxlength=10,@autocomplete="off", @value="" })
                <div>
                    @Html.ValidationMessageFor(model => model.Password, null, new{@class="error"})
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-align-center">
                <input type="submit" value="Next" class="btn-argos span1"/>
            </td>
        </tr>
    </table>
}

@Html.Partial("/Views/User/Notification_ChangePasswordResult.cshtml")
@Html.Partial("/Views/User/Notification_ChangePasswordFailure.cshtml")