@using CAST.Jobs
@using PagedList
@using PagedList.Mvc
@*@model CAST.ViewModels.JobStatuses.JobStatus_SearchModel
*@
@model Job_SearchModel
@{
    ViewBag.Title = "Job search.";
}

<div class="cols cols2">
   <div class="col2">  @Html.Partial("~/Views/JobStatus/JobStatuses.cshtml", (CAST.ViewModels.JobStatuses.JobStatus_Model) ViewBag.JobStatus)
</div>

     <div class="col2">
	        @if (Model.SearchResults.Count > 0)
            {
            <table>
                <thead>
                    <th>Repair No</th>
                   
                    <th>Customer Name</th>
                     <th>Address</th>
                    <th>Postcode</th>
                    <th>Description</th>
                    <th>Retailer</th>
                   
                </thead>
                @foreach (var job in Model.SearchResults)
                {
                    <tr>
                        <td><a href="/Job/GoToDetails/@job.Id">@job.RepairNo</a></td>
                       
                        <td>@job.CustomerName</td>
                          <td>@job.Address</td>
                        <td>@job.Postcode</td>
                        <td>@job.Description</td>
                        <td><div class="clientlogo">
                            @if(job.RetailClientId!=0)
                            {
                          <img src="@string.Format("../../Content/img/{0}.png",job.RetailClientId)" />
                            }
                         
</div></td>
                      
                    </tr>
                }
            </table>
	
                <div class="col2 search-show-items">
                    
                    Showing items @Model.FirstItemIndex-@Model.LastItemIndex (@Model.TotalRecords) 
                    @if (ViewBag.OnePageOfJobs != null)
                    {  <span class="pull-right">
		                @Html.PagedListPager( (IPagedList)ViewBag.OnePageOfJobs, page => Url.Action("JobStatusList", new { page }), PagedListRenderOptions.DefaultPlusFirstAndLast )
		            </span>
                    }
                </div>
            }
            else
            {
            <p class="error">No job match for this criteria</p>
            }
        </div>

</div>
