@model List<AddressBook.PersonInfo>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Address book</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <style>
    #persons {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

      #persons td, #persons th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #persons tr:nth-child(even) {
        background-color: #ffffb7;
      }

      #persons tr:nth-child(odd) {
        background-color: #ffffff;
      }

      #persons th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }

      a:link, a:visited, a:hover, a:active {
        color: blue !important;
        text-decoration: none !important;
      }
  </style>
</head>
<body style="margin-top: 20px; margin-left: 20px; max-width: 500px; border-top: 1px solid black; border-left: 1px solid black; padding-left: 20px; padding-top: 10px; background-color: #ebebe0;">
  <div>
    <span style="position: relative; left: -10px;">Logged in:&nbsp;<a href="javascript: window.addressbook.showCurrentLoggedInUser()">@ViewBag.UserName</a></span>
    <a href="javascript: window.addressbook.changePassword(0)" style="position: relative; left: 165px;">Change password</a>&nbsp;&nbsp;
    <a href="javascript: window.addressbook.logOut()" style="position: relative; left: 168px;">Log out</a>
  </div>

  <img src="http://www.nr2web1.com/AddressBook.png" style="position: relative; top: 30px;" />
  <span style="color: red; font-family: Arial; font-size: x-large; font-weight: bold; margin-left: 10px;">
    Address Book!
  </span>

  <div id="errorMessage" style="display: none;"></div>

  @if (Model.Count > 0)
  {
    <table id="persons" style="margin-top: 50px;">
      <tr id="tableHeaderRow">
        <th style="width: 27%;">First name</th>
        <th style="width: 42%;">Last name</th>
        <th style="width: 31%;">Action</th>
      </tr>

      @{
        string personId;
      }

      @foreach (var person in Model)
      {
        personId = "person" + person.PersonId;

        <tr id="@personId">
          <td data-value="FirstName">@person.FirstName</td>
          <td data-value="LastName">@person.LastName</td>
          <td>
            <a href="javascript: window.addressbook.show(@person.PersonId)" style="font-size: small;">Show</a>
            <a href="javascript: window.addressbook.edit(@person.PersonId)" style="margin-left: 4px; font-size: small;">Edit</a>
            <a href="javascript: window.addressbook.delete(@person.PersonId)" style="margin-left: 4px; font-size: small;">Delete</a>
          </td>
        </tr>
      }
    </table>

    <div style="margin-top: 20px; margin-left: 3px; font-size: large;"><a href="javascript: window.addressbook.add()">Add new</a></div>
  }
  else
  {
    <div style="margin-top: 50px; font-size: large;"><a href="javascript: window.addressbook.add()">Add new</a></div>
  }

  <div id="divDialogMain" style="display: none; background-color: lightgray;">
    <table id="tablePersonInfo">
      <tr><td style="font-weight: bold;">First name</td> <td><input id="inputFirstName" class="addEditMode" type="text" /><span id="spanFirstName" class="showMode"></span></td></tr>
      <tr><td style="font-weight: bold;">Last name</td> <td><input id="inputLastName" class="addEditMode" type="text" /><span id="spanLastName" class="showMode"></span></td></tr>
      <tr>
        <td style="font-weight: bold;">Gender</td>
        <td>
          <input id="genderMale" name="gender" class="addEditMode" type="radio" checked="checked" data-value="Male" /><span class="addEditMode">&nbsp;Male</span>
          <input id="genderFemale" name="gender" class="addEditMode" type="radio" data-value="Female" /><span class="addEditMode">&nbsp;Female</span>
          <input id="genderOther" name="gender" class="addEditMode" type="radio" data-value="Other" /><span class="addEditMode">&nbsp;Other</span>
          <span class="showMode" id="spanGender"></span>
        </td>
      </tr>
      <tr><td style="font-weight: bold;">Date of birth</td> <td><input id="inputDateOfBirth" class="addEditMode" type="date" /><span id="spanDateOfBirth" class="showMode"></span></td></tr>
      <tr><td style="font-weight: bold;">Phone</td> <td><input id="inputPhone" class="addEditMode" type="tel" /><span id="spanPhone" class="showMode"></span></td></tr>
      <tr><td style="font-weight: bold;">Address</td> <td><input id="inputAddress" class="addEditMode" type="text" /><span id="spanAddress" class="showMode"></span></td></tr>
      <tr><td style="font-weight: bold;">Town</td> <td><input id="inputTown" class="addEditMode" type="text" /><span id="spanTown" class="showMode"></span></td></tr>
      <tr><td style="font-weight: bold;">Postcode</td> <td><input id="inputPostCode" class="addEditMode" /><span id="spanPostCode" class="showMode"></span></td></tr>
      <tr>
        <td style="font-weight: bold;">Country</td>
        <td>
          <select id="selectCountry" class="addEditMode">
            <option selected="selected">United Kingdom</option>
            <option>USA</option>
            <option>France</option>
            <option>Australia</option>
            <option>Other</option>
          </select>

          <span id="spanCountry" class="showMode"></span>
        </td>
      </tr>
      <tr><td style="font-weight: bold;">Is close friend</td> <td><input id="inputIsCloseFriend" class="addEditMode" type="checkbox" /><span id="spanIsCloseFriend" class="showMode"></span></td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr class="addEditMode"><td colspan="2"><button onclick="window.addressbook.handleSave()">Save</button></td></tr>
      <tr class="showMode"><td colspan="2"><button onclick="window.addressbook.closeMainDialog()">Close</button></td></tr>
    </table>
  </div>

  <div id="divDialogChangePassword" style="display: none; background-color: lightgray;">
    <div id="divInfo" style="display: none; margin-top: 30px; max-width: 200px;">
      The password was successfully changed
      <button style="margin-top: 30px;" onclick="window.addressbook.closeDialogChangePassword()">Close</button>
    </div>
    <table id="tableChangePassword" style="margin-top: 15px;">
      <tr><td style="font-weight: bold;">Old password</td> <td><input id="inputOldPassword" type="password" /></td></tr>
      <tr><td style="font-weight: bold;">New password</td> <td><input id="inputNewPassword" type="password" /></td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2"><button onclick="window.addressbook.changePassword(1)">Change</button></td></tr>
    </table>
  </div>

  <div id="divDialogCurrentLoggedInUser" style="display: none; background-color: lightgray;">
    <table style="margin-top: 15px;">
      <tr><td style="font-weight: bold;">User name</td><td>@ViewBag.UserName</td></tr>
      <tr><td style="font-weight: bold;">Account created</td><td id="accountCreated"></td></tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr><td colspan="2"><button onclick="window.addressbook.closeDialogCurrentLoggedInUser()">Close</button></td></tr>
    </table>
  </div>

  <script>
    $(document).ready(function () {
      window.addressbook = new Object();

      window.addressbook.baseUrl = "http://www.Nr2Web1.com/AddressBook/";
      window.addressbook.currentPersonId = 0;
      window.addressbook.newPersonAdded = false;

      window.addressbook.ReturnLocaleDateString = function (dateString) { //dateString is in format yyyy-MM-dd
        var year, month, day, date, localeDateString;

        year = window.Number(dateString.substring(0, 4));
        month = window.Number(dateString.substring(5, 7));
        day = window.Number(dateString.substring(8, 10));
        date = new Date(year, month - 1, day); //month goes from 0 to 11
        localeDateString = date.toLocaleDateString();

        return localeDateString;
      }

      window.addressbook.showCurrentLoggedInUser = function() {
        var options, popup;

        options = {
          modal: true,
          title: "Current logged in user",
          position: { my: "center", at: "center", of: window },
          width: 400,
          height: 200,
          close: function () {}
        }

        popup = $("#divDialogCurrentLoggedInUser");
        popup.dialog(options);
        popup.dialog('open');
        popup.show();
      }

      window.addressbook.closeDialogCurrentLoggedInUser = function () {
        $("#divDialogCurrentLoggedInUser").dialog("close");
      }

      window.addressbook.closeMainDialog = function() {
        $('#divDialogMain').dialog('close')

        if (window.addressbook.newPersonAdded) {
          window.addressbook.newPersonAdded = false;
          window.location = window.addressbook.baseUrl + "GetAll";
        }
      }

      window.addressbook.openModal = function (title, width, height) {
        var options, popup;

        options = {
          modal: true,
          title: title,
          position: { my: "center", at: "center", of: window },
          width: width,
          height: height,
          close: function () { window.addressbook.closeMainDialog(); }
        }

        popup = $("#divDialogMain");
        popup.dialog(options);
        popup.dialog('open');
        popup.show();
      }

      window.addressbook.setEditData = function (firstName, lastName, gender, dateOfBirth, phone, address, town, postCode, country, isCloseFriend) {
        $("#inputFirstName").val(firstName);
        $("#inputLastName").val(lastName);
        $("#gender" + gender).prop("checked", true);
        $("#inputDateOfBirth").val(dateOfBirth);
        $("#inputPhone").val(phone);
        $("#inputAddress").val(address);
        $("#inputTown").val(town);
        $("#inputPostCode").val(postCode);
        $("#selectCountry").val(country);
        $("#inputIsCloseFriend").prop("checked", isCloseFriend);
      }

      window.addressbook.setSpanData = function (firstName, lastName, gender, dateOfBirth, phone, address, town, postCode, country, isCloseFriend) {
        $("#spanFirstName").text(firstName);
        $("#spanLastName").text(lastName);
        $("#spanGender").text(gender);
        $("#spanDateOfBirth").text(window.addressbook.ReturnLocaleDateString(dateOfBirth));
        $("#spanPhone").text(phone);
        $("#spanAddress").text(address);
        $("#spanTown").text(town);
        $("#spanPostCode").text(postCode);
        $("#spanCountry").text(country);
        $("#spanIsCloseFriend").text(isCloseFriend);
      }

      window.addressbook.add = function () {
        window.addressbook.setEditData("", "", "Male", "", "", "", "", "", "United Kingdom", false); //Set default data
        $(".addEditMode").show();
        $(".showMode").hide();
        window.addressbook.currentPersonId = 0;
        window.addressbook.openModal("Add new person", 400, 400);
      }

      window.addressbook.show = function (personId) {
        $(".showMode").show();
        $(".addEditMode").hide();

        $.ajax({
          url: window.addressbook.baseUrl + "GetSingle",
          data: { personId: personId },
          error: function (data) {
            $("#errorMessage").html(data.responseText);
            $("#errorMessage").show();
          },
          method: "get",
          success: function (data) {
            if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "Error")) {
              alert(data);
              return;
            }
            else {
              window.addressbook.setSpanData(data.FirstName, data.LastName, data.Gender, data.DateOfBirth, data.Phone, data.Address, data.Town, data.PostCode, data.Country, data.IsCloseFriend);
              window.addressbook.openModal("Data for " + data.FirstName + " " + data.LastName, 400, 350);
            }
          }
        });
      }

      window.addressbook.edit = function (personId) {
        $(".addEditMode").show();
        $(".showMode").hide();

        $.ajax({
          url: window.addressbook.baseUrl + "GetSingle",
          data: { personId: personId },
          error: function (data) {
            $("#errorMessage").html(data.responseText);
            $("#errorMessage").show();
          },
          method: "get",
          success: function (data) {
            if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "Error")) {
              alert(data);
              return;
            }
            else {
              window.addressbook.setEditData(data.FirstName, data.LastName, data.Gender, data.DateOfBirth, data.Phone, data.Address, data.Town, data.PostCode, data.Country, data.IsCloseFriend);
              window.addressbook.openModal("Edit " + data.FirstName + " " + data.LastName, 400, 400);
              window.addressbook.currentPersonId = personId;
            }
          }
        });
      }

      window.addressbook.delete = function (personId) {
        var firstName, lastName, answer;

        firstName = $("td[data-value='FirstName']", $("#person" + personId)).text();
        lastName = $("td[data-value='LastName']", $("#person" + personId)).text();

        answer = window.confirm("Are you sure you want to delete " + firstName + " " + lastName + "?");

        if (answer) {
          $.ajax({
            url: window.addressbook.baseUrl + "Delete",
            data: { personId: personId },
            error: function (data) {
              $("#errorMessage").html(data.responseText);
              $("#errorMessage").show();
            },
            method: "get",
            success: function (data) {
              if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "Error")) {
                alert(data);
                return;
              }
              else {
                $("#person" + personId).remove();
                alert(firstName + " " + lastName + " was deleted successfully");
              }
            }
          });
        }
      }

      window.addressbook.handleSave = function () {
        var mode, personInfo, firstName, lastName, gender, dateOfBirth, phone, address, town, postCode, country, isCloseFriend, title;

        firstName = $("#inputFirstName").val().trim();
        lastName = $("#inputLastName").val().trim();
        gender = $("input[name='gender']:checked").attr("data-value");
        dateOfBirth = $("#inputDateOfBirth").val();
        phone = $("#inputPhone").val().trim();
        address = $("#inputAddress").val().trim();
        town = $("#inputTown").val().trim();
        postCode = $("#inputPostCode").val().trim();
        country = $("#selectCountry").val();
        isCloseFriend = $("#inputIsCloseFriend").prop("checked");

        if (!firstName || !lastName) {
          alert("First name and last name are mandatory!");
          return;
        }

        if (window.addressbook.currentPersonId === 0)
          mode = "Add";
        else
          mode = "Update";

        personInfo = {
          personId: window.addressbook.currentPersonId,
          firstName: firstName,
          lastName: lastName,
          gender: gender,
          dateOfBirth: dateOfBirth,
          phone: phone,
          address: address,
          town: town,
          postCode: postCode,
          country: country,
          isCloseFriend: isCloseFriend
        }

        $.ajax({
          url: window.addressbook.baseUrl + mode,
          data: { person: personInfo },
          error: function (data) {
            $("#errorMessage").html(data.responseText);
            $("#errorMessage").show();
          },
          method: "post",
          success: function (data) {
            if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "Error")) {
              alert(data);
              return;
            }
            else {
              window.addressbook.setSpanData(firstName, lastName, gender, dateOfBirth, phone, address, town, postCode, country, isCloseFriend);

              title = (mode === "Add") ? (firstName + " " + lastName + " added successfully") : firstName + " " + lastName + " updated successfully";

              $("#divDialogMain").dialog("option", "title", title);
              $("#divDialogMain").dialog("option", "height", 350);
              $(".showMode").show();
              $(".addEditMode").hide();

              if (mode === "Add") {
                window.addressbook.newPersonAdded = true;
              }
              else {
                $("td[data-value='FirstName']", $("#person" + window.addressbook.currentPersonId)).text(firstName);
                $("td[data-value='LastName']", $("#person" + window.addressbook.currentPersonId)).text(lastName);
              }
            }
          }
        });
      }

      window.addressbook.closeDialogChangePassword = function () {
        if (!$("#tableChangePassword").is(":visible")) {
          $("#divInfo").hide();
          $("#tableChangePassword").show();
        }

        $("#divDialogChangePassword").dialog("close");
      }

      window.addressbook.changePassword = function (n) {
        var popup, oldPassword, newPassword;

        if (n === 0) {
          options = {
            modal: true,
            title: "Change password",
            position: { my: "center", at: "center", of: window },
            width: 400,
            height: 200,
            close: function () { window.addressbook.closeDialogChangePassword(); }
          }

          popup = $("#divDialogChangePassword");
          popup.dialog(options);
          popup.dialog('open');
          popup.show();
        } else {
          oldPassword = $("#inputOldPassword").val().trim();
          newPassword = $("#inputNewPassword").val().trim();

          if (!oldPassword) {
            alert("The old password is not given!");
            return;
          }

          if (!newPassword) {
            alert("The new password is not given!");
            return;
          }

          $.ajax({
            url: window.addressbook.baseUrl + "ChangePassword",
            data: { oldPassword: oldPassword, newPassword: newPassword },
            error: function (data) {
              $("#errorMessage").html(data.responseText);
              $("#errorMessage").show();
            },
            method: "post",
            success: function (data) {
              console.log(data);
              if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "Error")) {
                alert(data);
                return;
              }
              else {
                $("#tableChangePassword").hide();
                $("#divInfo").show();
              }
            }
          });
        }
      }

      window.addressbook.logOut = function () {
        window.location = window.addressbook.baseUrl + "LogOut";
      }

      $("#accountCreated").text(window.addressbook.ReturnLocaleDateString('@ViewBag.CreatedDate'));
    });
  </script>
</body>
</html>

