@using ClientConnect.Customer
@using PagedList
@using PagedList.Mvc
@model Customer_SearchModel
@{
    ViewBag.Title = "Customer search.";
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#ClientCustomerAdvSearch').click(function (e) {
                e.preventDefault();
                window.location.href = '@Url.Action("StartAdvSearchByClientId", "Customer")';
            });
        });
    </script>
    }

<div class="cols cols2">
    <div class="col2 job-search">
        @Html.Partial("~/Views/Customer/_ClientCustomerSearchHeader.cshtml", Model.SearchCriteria)
    </div>

    <div class="col2">
        @if (Model.SearchResults.Count > 0)
        {
            <table>
                <thead>
                   <tr>
                    <th>Customer Name</th>
                    <th>Created on</th>
                    <th>Address</th>
                    <th>Postcode</th>
                    <th>Retailer</th>
                    <th>Client</th>
                  </tr>
                </thead>
               <tbody>
               @foreach (var Customer in Model.SearchResults)
               {
                  <tr>
                     <td><a href="~/Customer/CustomerDetails?id=@Customer.CustomerId"><strong>@Customer.CustomerName</strong></a></td>
                     <td>@Customer.Logged.ToString("dd/MM/yy")</td>
                     <td>@Customer.Address</td>
                     <td>@Customer.Postcode</td>
                     <td>@Customer.RetailClientName</td>
                     <td>@String.Format("{0} {1}", Customer.StoreName, (Customer.StoreId == 0) ? "" : ("(" + Customer.StoreId.ToString() + ")"))</td>
                  </tr>
               }
               </tbody>
            </table>

            <div class="col2 search-show-items">
                Showing items @Model.FirstItemIndex-@Model.LastItemIndex (@Model.TotalRecords) 
                    @if (ViewBag.OnePageOfJobs != null)
                    {  <span class="pull-right">
                        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfJobs, page => Url.Action("FindCustomersByClientId", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                    </span>
                    }
            </div>
        }
        else
        {
            <p class="error">No Customer match for this criteria</p>
        }
    </div>
</div>
