@using System.Web.Optimization
@using CAST.Jobs
@model CAST.ViewModels.Job.JobDetailsModel
@{
    ViewBag.Title = "Customer details.";
}

@section Scripts{
    @Scripts.Render("~/scripts/job-details-js")
    @Scripts.Render("~/scripts/EditToolbar-js")
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#RejectJob").click(function (event) {
              //  alert("ddfd");
                event.preventDefault();
               
                var dialog = new Dialog({
                    height: '250',
                    width: '800',
                    title: 'Reason for rejection...',
                    containerId: '#edit-form',
                    contentPath: '/Job/RejectReason',
                    closeIcon: '',
                    buttons: [{
                        text: "OK",
                        "class": "rbg",
                        click: function () {
                          var url = '@Url.Action("RejectJob", "Job")';
                        
                            encoded_url = url + '?notes=' + encodeURIComponent($('#notes').val());
                            window.location.href = encoded_url;
                                }
                     }, {
                         text: "Cancel", "class": "bbg",
                         click: function () {
                          
                             var url = "/Home/Index";
                             window.location.href = url;
                         }

                     }],
                    refreshPageAfterClose: false
                });

                var options = {
                    target: '#edit-form'
                };
                $('#edit-form form').ajaxForm(options);
                dialog.show(); 
            })

            if ('@Model.IsAccepted'!='True') { //customer toolbar
                var customerEditToolbar = new EditToolbar('#customer-info-toolbar');
                customerEditToolbar.onEditFunction = function () {
                    onEdit(this, '/Job/CustomerInfoEdit');
                };

                //create contact toolbar
                var contactEditToolbar = new EditToolbar('#contact-info-toolbar');
                contactEditToolbar.onEditFunction = function () {
                    onEdit(this, '/Job/ContactInfoEdit');
                };

                //create product toolbar
                var productEditToolbar = new EditToolbar('#product-info-toolbar');
                productEditToolbar.onEditFunction = function () {
                    onEdit(this, '/Job/ProductInfoEdit');
                };

                //create repair toolbar
                var repairEditToolbar = new EditToolbar('#repair-info-toolbar');
                repairEditToolbar.onEditFunction = function () {
                    onEdit(this, '/Job/RepairInfoEdit');
                };

                //create repair toolbar
                var additionalInfoToolbar = new EditToolbar('#additional-job-info-toolbar');
                additionalInfoToolbar.onEditFunction = function () {
                    onEdit(this, '/Job/AdditionalJobEdit');
                };
            }
            //on edit function
            function onEdit(toolbar, formUrl) {
                toolbar.toViewMode();
                var dialog = new Dialog({
                    height: '850',
                    width: '800',
                    title: 'Editing...',
                    containerId: '#edit-form',
                    contentPath: formUrl,
                    closeIcon: '',
                    refreshPageAfterClose: true
                });

                var options = {
                    target: '#edit-form'
                };
                $('#edit-form form').ajaxForm(options);
                dialog.show();
            };

            var repairAgentDialog = new Dialog();
            repairAgentDialog.setAsCloseDialog({
                height: '700',
                width: '800',
                title: 'Repair agent details',
                containerId: '#repair-agent-details',
                closeIcon: '',
                Buttontext: "OK"
            });
          

            $("#show-repair-agent-details").click(function () {
                repairAgentDialog.show();
            });
        });

        $("#print-report-btn").click(function() {
            $("#print-report-form").submit();
        });
    </script> 
} 
@*@if (Model.StatusId == 10)
{ 
    Model.Status.CurrentStatus=
}*@


<div class="section section__full">
    <div class="section__box">

        <span class="section__heading">Report: Product details</span>
        <div class="section__content">

		    @Html.ActionLink("Go to customer product page", "Details", "Customer", new { id = Model.CustomerInformation.CustomerID,allnotes = false }, new { style = "" })
	
	        <div class="section__box">@(string.Format("Job Page {0} \t {1}({2})",Model.RepairInformation.ServiceId,Model.StoreName,Model.StoreId))		       
	        </div>
	        <div class="section__box">
                @using (Html.BeginForm("ReportPage", "Job", FormMethod.Post, new {@id="print-report-form"}))
                {
                    <span aria-hidden="true" class="" title="Print" id="print-report-btn"></span>
                    @Html.DropDownList("reportId", Model.ReportList, new {@class="btn btn-default dropdown-toggle", @title="Available reports", @name = "reportId"})
                    @Html.Hidden("modelId",Model.ProductInformation.ModelId)
                }
            </div>
        </div>

	</div>

    <div class="section__box">
        <div class="section__content">
            @{
                Html.RenderPartial("CustomerInfo", Model.CustomerInformation);
            }
        </div>
    </div>
    
    <div class="section__box">
        <div class="section__content">
            @{
                Html.RenderPartial("ContactInfo", Model.ContactInformation);
            }
        </div>
	</div>
	
    <div class="section__box">
        <div class="section__content">
            @((Model.StatusId != 10) ? (Model.IsAccepted ? Html.DisplayFor(x => x.Status) : Html.Partial("_AcceptJob", Model)):Html.DisplayFor(x => x.Status))
        </div>
	</div>
	
    <div class="section__box">
        <div class="section__content">
            @{
                Html.RenderPartial("ProductInfo", Model.ProductInformation);
            }
        </div>
	</div>
		
    <div class="section__box">
        <div class="section__content">
            @{
                Html.RenderPartial("RepairInfo", Model.RepairInformation);
            }
        </div>
	</div>
	    
    <div class="section__box">
        <div class="section__content">
            @{
                Html.RenderPartial("AdditionalJobInfo", Model.JobAdditionalInfo);
            }
        </div>
	</div>
  
    <div class="section__box">
        <div class="section__content">
         @*   @Html.Partial("_JobNotesShop", Model.JobNotesShop)*@
         @*     @Html.Partial("_JobNotesShop", Model.JobNotes)*@
          @Html.Partial("_JobNotes", Model.JobNotes)
        </div>
    </div>

    <div id ="edit-form"></div>
    
</div>